// MiraOS — zasoby Windows: ikona, wersja, manifest
#include <windows.h>

1 ICON "mira.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName",      "MiraOS"
      VALUE "FileDescription",  "MiraOS — system, ktory oddycha"
      VALUE "FileVersion",      "1.0.0.0"
      VALUE "InternalName",     "MiraOS"
      VALUE "LegalCopyright",   "(c) 2026 MiraOS. Kernel: NeutralinoJS (MIT)"
      VALUE "OriginalFilename", "MiraOS.exe"
      VALUE "ProductName",      "MiraOS"
      VALUE "ProductVersion",   "1.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END

1 24 "mira.manifest"
